.container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  text-align: center;
  color: white;
  background-color: black;
  margin: 1rem;
}

.tam0 {
  flex-grow: 0;
}

.tam1 {
  flex-grow: 1;
}

.tam2 {
  flex-grow: 2;
}

.base0 {
  flex-basis: 0;
}

.base1 {
  flex-basis: 1;
}

.base {
  flex-basis: 2;
}
